# Build artifacts
build/

# Googletest build files
googletest/build/
googletest/lib/
googletest/CTestTestfile.cmake
googletest/cmake_install.cmake
googletest/Makefile

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Other
*.out
*.so
*.a